---
import Layout from '@layouts/Layout.astro'
import { getProjectById } from '@data/projects'
import TechBadge from '@components/TechBadge.astro'
import Button from '@components/Button.astro'
import PreviewIcon from '@public/icons/PreviewIcon.astro'
import GithubIcon from '@public/icons/CodeIcon.astro'
import DesignIcon from '@public/icons/DesignIcon.astro'

/* const { id } = Astro.params

const MyProject = id ? getProjectById(id) : null */
const MyProject = getProjectById('ULP_Competition')
---

<Layout>
	<article class="mt-20 flex w-full flex-col items-center gap-12">
		<header class="flex w-full flex-col place-content-around items-center gap-8 lg:flex-row">
			<aside class="flex flex-col gap-6">
				<section>
					<h1
						class="text-4xl font-bold text-gray-900 dark:text-gray-100"
						transition:name=`project ${MyProject?.proyectId} title`
					>
						{MyProject?.title}
					</h1>
				</section>
				<section>
					<h3 class="text-xl font-bold">Tecnologías</h3>
					<ul class="mb-2 flex flex-row flex-wrap gap-x-2 gap-y-1">
						{
							MyProject?.technologies.map((technology) => (
								<li>
									<TechBadge {...technology} />
								</li>
							))
						}
					</ul>
				</section>
				<section>
					<h3 class="text-xl font-bold">Enlaces</h3>
					<ul class="flex gap-2">
						{
							MyProject?.repo && (
								<Button href={MyProject?.repo} target="_blank">
									<GithubIcon class="size-5" />
									Código
								</Button>
							)
						}
						{
							MyProject?.link && (
								<Button href={MyProject?.link} target="_blank">
									<PreviewIcon class="size-5" />
									Preview
								</Button>
							)
						}
						{
							MyProject?.design && (
								<Button href={MyProject?.design} target="_blank">
									<DesignIcon class="size-5" />
									Diseño
								</Button>
							)
						}
					</ul>
				</section>
			</aside>
			<img
				class="w-[450px] rounded-xl"
				src={MyProject?.coverImage}
				alt={MyProject?.proyectId}
				transition:name=`project ${MyProject?.proyectId} image`
			/>
		</header>

		<section class="flex flex-col items-center">
			<section class="flex w-[85%] flex-col gap-6">
				<section>
					<h3 class="text-xl font-bold">Contexto</h3>
					<p>
						Si vienes de la ETSIIT en la Universidad de Granada, seguramente ya sepas de qué hablo.
						Pero para los que no, la ULP (UGR Lan Party) es ese evento anual donde convertimos la
						facultad en el epicentro del gaming, la tecnología y, por supuesto, la paella gratis. Es
						un evento sin ánimo de lucro, montado a pulmón por profesores, alumnos y egresados. No
						solo hay torneos de los juegos del momento; tenemos desde rincones retro hasta
						simuladores de conducción, realidad virtual, ping pong y hackathones. Todo esto es
						posible gracias al material que compartimos entre todos y al apoyo de entidades de la
						UGR y empresas colaboradoras. Llevo tres años metido en el barro de la organización, y
						he pasado por casi todos los palos. Mi rol ha ido evolucionando, permitiéndome ver el
						evento desde ángulos muy distintos: Streaming y Contenido: Me encargué de que la acción
						no se quedara solo en las salas de la ETSIIT, gestionando la grabación y la emisión en
						directo para que nadie se perdiera detalle. Organización de Torneos: No todo es código;
						gestionar a los jugadores, los cuadros de competición y el "hype" del directo tiene su
						arte. Web Developer: Aquí es donde realmente he podido aplicar mi faceta de
						desarrollador, trabajando en la web oficial del proyecto para mejorar la experiencia de
						los asistentes y la gestión del evento. Lo que viene a continuación... En las próximas
						secciones de este post, me voy a poner un poco más técnico para explicarte cómo
						abordamos el proceso de diseño e implementación de las herramientas digitales que hacen
						que la ULP funcione como un reloj suizo (o al menos lo intente).
					</p>
				</section>
				<section>
					<h3 class="text-xl font-bold">Diseño</h3>
					<p>
						Para el diseño se ha buscado un estilo limpio y moderno, inspirado en las tendencias
						actuales. Se ha utilizado una paleta de colores sencilla que permita una visualización
						clara del contenido. Se ha implementado un modo claro y oscuro, permitiendo al usuario
						elegir según sus preferencias de lectura. Además, se ha adoptado un diseño adaptativo
						que asegura una experiencia de usuario óptima en cualquier tamaño de pantalla.
					</p>
				</section>
			</section>
		</section>
	</article></Layout
>
