---
import ProjectCardButton from '@components/ProjectCardButton.astro'
import GithubIcon from '@public/icons/CodeIcon.astro'
import PreviewIcon from '@public/icons/PreviewIcon.astro'
import TechPill from './TechPill.astro'

interface Props {
	image: string
	title: string
	description: string
	repo?: string
	link?: string
	technologies: { name: string; color: string; Icon: any }[]
}

const { image, title, description, repo, link, technologies } = Astro.props
---

<section
	class="w-82 decoration-300 flex h-auto flex-col items-center gap-4 rounded-3xl border border-solid px-6 py-6 ease-in-out hover:scale-[1.05] md:w-[600px] md:flex-row-reverse md:items-start lg:w-[800px]"
>
	<img src={image} alt="ProjectTitle" class="w-64 lg:w-80" />
	<section class="flex h-auto flex-col gap-2">
		<h1 class="text-4xl font-bold text-sky-300">{title}</h1>
		<section>
			<ul class="mb-2 flex flex-row gap-x-2">
				{
					technologies.map((technology) => (
						<li>
							<TechPill name={technology.name} color={technology.color} Icon={technology.Icon} />
						</li>
					))
				}
			</ul>
		</section>
		<p class="text-pretty text-xl lg:min-h-[280px]">{description}</p>
		<footer class="mt-2 flex gap-4">
			{
				repo && (
					<ProjectCardButton href={repo}>
						<GithubIcon class="size-4" />
						Code
					</ProjectCardButton>
				)
			}
			{
				link && (
					<ProjectCardButton href={link}>
						<PreviewIcon class="size-4" />
						Preview
					</ProjectCardButton>
				)
			}
		</footer>
	</section>
</section>
