---
import ProjectCard from '@components/ProjectCard.astro'
import ProjectsIcon from '@public/icons/Projects.astro'

const TECHTAGS = {
	ASTRO: {
		name: 'Astro',
		color:
			'bg-[conic-gradient(from_90deg_at_50%_50%,#FFFFFF_0%,#FF5D01_50%,#FFFFFF_100%)] dark:bg-[conic-gradient(from_90deg_at_50%_50%,#000000_0%,#FF5D01_50%,#000000_100%)]',
		Icon: '../../public/icons/Astro.webp'
	},
	TAILWIND: {
		name: 'Tailwind CSS',
		color:
			'bg-[conic-gradient(from_90deg_at_50%_50%,#FFFFFF_0%,#36B7F0_50%,#FFFFFF_100%)] dark:bg-[conic-gradient(from_90deg_at_50%_50%,#000000_0%,#36B7F0_50%,#000000_100%)]',
		Icon: '../../icons/Tailwind.webp'
	},
	FIGMA: {
		name: 'Figma',
		color:
			'bg-[conic-gradient(from_90deg_at_50%_50%,#FFFFFF_0%,#F24E1E_50%,#FFFFFF_100%)] dark:bg-[conic-gradient(from_90deg_at_50%_50%,#000000_0%,#F24E1E_50%,#000000_100%)]',
		Icon: '../../icons/Figma.webp'
	}
}
const PROJECTS = [
	{
		image: '@public/portfolio-preview.webp',
		title: 'Portfolio Vipeba',
		description: [
			'Porfolio de presentaci칩n como desarrolador de software.',
			'Dise침ado en Figma buscando un enfoque moderno y atractivo.',
			'Desarrollado con Astro y Tailwind CSS aprovechando su capacidad para generar sitios est치ticos r치pidos y eficientes.'
		],
		link: 'https://vipeba.dev',
		repo: 'https://github.com/VictorPB/Portfolio',
		technologies: [TECHTAGS.FIGMA, TECHTAGS.ASTRO, TECHTAGS.TAILWIND]
	}
]
---

<section class="mt-[100px] flex w-full flex-col items-center gap-y-16 md:mt-[150px]">
	<div class="flex items-center gap-5">
		<ProjectsIcon class="size-12" />
		<h2
			id="proyectos"
			data-section="proyectos"
			class="scroll-m-20 bg-gradient-to-r from-rose-400 via-fuchsia-500 to-indigo-500 bg-clip-text text-3xl font-extrabold text-transparent md:text-4xl"
		>
			Proyectos destacados
		</h2>
	</div>
	{
		PROJECTS.map((project) => (
			<ProjectCard
				image={project.image}
				title={project.title}
				description={project.description}
				repo={project.repo}
				link={project.link}
				technologies={project.technologies}
			/>
		))
	}
</section>
