---
import ProjectCard from '@components/ProjectCard.astro'
import ProjectsIcon from '@public/icons/Projects.astro'

const TECHTAGS = {
	ASTRO: {
		name: 'Astro',
		color:
			'bg-[conic-gradient(from_90deg_at_50%_50%,#FFFFFF_0%,#FF5D01_50%,#FFFFFF_100%)] dark:bg-[conic-gradient(from_90deg_at_50%_50%,#000000_0%,#FF5D01_50%,#000000_100%)]',
		Icon: '../../public/icons/Astro.png'
	},
	TAILWIND: {
		name: 'Tailwind CSS',
		color:
			'bg-[conic-gradient(from_90deg_at_50%_50%,#FFFFFF_0%,#36B7F0_50%,#FFFFFF_100%)] dark:bg-[conic-gradient(from_90deg_at_50%_50%,#000000_0%,#36B7F0_50%,#000000_100%)]',
		Icon: '../../icons/Tailwind.png'
	}
}
const PROJECTS = [
	{
		image: '../../public/portfolio-preview.png',
		title: 'Portfolio Vipeba',
		description: 'Porfolio de presentación como profesional.',
		link: 'https://svgl.vercel.app/',
		repo: 'https://github.com/VictorPB/Portfolio',
		technologies: [TECHTAGS.ASTRO, TECHTAGS.TAILWIND]
	}
]
---

<section class="mt-[100px] flex w-full flex-col items-center gap-y-16 md:mt-[150px]">
	<div class="flex items-center gap-5">
		<ProjectsIcon class="size-12" />
		<h2
			id="proyectos"
			data-section="proyectos"
			class="bg-gradient-to-r from-rose-400 via-fuchsia-500 to-indigo-500 bg-clip-text text-3xl font-extrabold text-transparent md:text-4xl"
		>
			Proyectos destacados
		</h2>
	</div>
	{
		PROJECTS.map((project) => (
			<ProjectCard
				image={project.image}
				title={project.title}
				description={project.description}
				repo={project.repo}
				link={project.link}
				technologies={project.technologies}
			/>
		))
	}
</section>
