---
import ProjectCardButton from '@components/ProjectCardButton.astro'
import GithubIcon from '@public/icons/CodeIcon.astro'
import PreviewIcon from '@public/icons/PreviewIcon.astro'
import TechPill from './TechPill.astro'

interface Props {
	image: string
	title: string
	description: string
	repo?: string
	link?: string
	technologies: { name: string; color: string; Icon: any }[]
}

const { image, title, description, repo, link, technologies } = Astro.props
---

<section
	class="w-82 flex h-auto flex-col items-center gap-4 rounded-3xl border border-solid border-slate-300 bg-slate-200 px-6 py-6 dark:border-gray-600 dark:bg-[#292929] md:w-[600px] md:flex-row md:items-start md:justify-around lg:w-[800px]"
>
	<section class="flex h-auto flex-col gap-4">
		<h1 class="text-4xl font-bold text-gray-900 dark:text-gray-100">{title}</h1>
		<section>
			<ul class="mb-2 flex flex-row gap-x-2">
				{
					technologies.map((technology) => (
						<li>
							<TechPill name={technology.name} color={technology.color} Icon={technology.Icon} />
						</li>
					))
				}
			</ul>
		</section>
		<p class="text-pretty text-xl md:min-h-48 lg:min-h-72">{description}</p>
		<footer class="flex gap-4">
			{
				repo && (
					<ProjectCardButton href={repo}>
						<GithubIcon class="size-4" />
						Code
					</ProjectCardButton>
				)
			}
			{
				link && (
					<ProjectCardButton href={link}>
						<PreviewIcon class="size-4" />
						Preview
					</ProjectCardButton>
				)
			}
		</footer>
	</section>
	<img src={image} alt="ProjectTitle" class="w-64 lg:w-80" />
</section>
